{% extends "main.html" %}

{% block content %}
 <div class="col-md-12">
    <form method="POST" class ="post-form" action="/adddosen">
     {% csrf_token %}
    <div class="container">
        <div class= "col-12">
            <h3> Isi data matkul</h3>
        </div>

       <div class="mb-3">
         <label> Nomor ID dosen :</label>
         {{form.id_dosen}}
        </div> 

        <div class="mb-3">
         <label> Nama dosen :</label>
         {{form.nama}}
        </div>

        <div class="mb-3">
         <button type="submit" class="btn btn-primary">
            submit</button>
        </div>


    </div>
    </form>
 </div>
{% endblock content %}




