{% extends "main2.html" %}

{% block content%}

<h1>{{judul}}</h1>
</br>
<div class="container-fluid">
    <div class="row">
        <!-- Kolom Daftar Mahasiswa -->
        <div class="col-md-6">
            <div class="card card-body">
              <h4>Daftar Dosen</h4>
                <table class="table table-sm">
                        <tr>
                            <th></th>
                            <th>id dosen </th>
                            <th>nama dosen </th>
                        </tr>

                        <tbody>
                            {% for doosen in doseen %}
                            <tr>
                                <td></td>
                                <td> {{doosen.id_dosen}}</td>
                                <td> {{doosen.nama}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>  
                </table>
                        
            </div>
        </div>

            <div class="col-md-4">
                <div class="card card-body">
                    <h5>Tambah Dosen  </h5>
                        </br>
                    <form method="POST" class ="post-form" action="/dosen2">
                         {% csrf_token %}

                         <div class="form-group">
                            <label for="id_dosen"  style="width: 100px;">Kode Dosen </label>
                            <input type="text"  name="id_dosen" id="id_dosen">
                           
                         </div>
    
                         <div class="form-group">
                            <label for="nama"  style="width: 100px;">Nama Dosen  </label>
                            <input type="text"  name="nama" id="nama" >
                            
                         </div>

                         <div class="mb-3">
                            <button type="submit" class="btn btn-primary">
                               submit</button>
                           </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        

{% endblock content %}